Client/ClientApp/Connected Services/AutoGeneratedServiceReference/AndriiCalculatorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Square">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SquareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SquareResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThrowUnhandledException">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ThrowUnhandledExceptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OverloadingOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OverloadingOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OverloadingOperationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OverloadingOperationFloat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputNumber" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OverloadingOperationFloatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OverloadingOperationFloatResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>